<html>
<title>Tim's Journal</title>
<body>
<h1>Tim's Journal</h1>
<pre>
{% for entry in entries %}
{{ entry }}
{{ '-' * 80 }}
{% endfor %}
</pre>
<P>
<a name=Entry>
<form method='POST' action='/#Entry'>
<textarea rows='20' cols='80' wrap='HARD' name='Entry'></textarea><br>
<input type='SUBMIT' name='Submit' value='Write Log Entry'>
</form>
</html>
