<html>
<head>
    <title>{{ user }}'s {{ subject }} Journal</title>
    <style>
        body {
            background-color: #fafafa;
            padding-left: 10px;
        }
        pre {
            font-size: 14pt;
            padding-left: 10px
        }
        textarea {
            font-family: Courier, monospace;
            font-size: 14pt;
            padding: 10px;
            background-color: #ffffff;
        }

        input[type=submit] {
            font-family: Courier, monospace;
            font-size: 12pt;
        }

        #submit {
            padding-top: 10px;
        }
    </style>
</head>

<body>

<h1>{{ user }}'s {{ subject }} Journal</h1>

<pre>
{% for entry in entries %}
{{ entry }}
{{ '-' * 120 -}}
{% endfor %}
</pre>

<P>

<form id="Entry" method='POST' action='/#Entry'>
    <textarea rows='24' cols='120' wrap='HARD' name='Entry'></textarea><br>
    <div id="submit"><input type='SUBMIT' name='Submit' value='Write Journal Entry'></div>
</form>

</body>
</html>
