<html>
<head>
    <title>{{ user }}'s {{ subject }} Journal</title>
    <style>
        body {
            background-color: #fafafa;
            padding-left: 10px;
        }
        pre {
            font-size: 12pt;
            padding-left: 10px
        }
        textarea {
            font-family: Courier, monospace;
            font-size: 12pt;
            padding: 10px;
            background-color: #ffffff;
        }

        input[type=submit] {
            font-family: Courier, monospace;
            font-size: 12pt;
        }

        #submit {
            padding-top: 10px;
        }
    </style>
</head>

<body>

<h1>{{ user }}'s {{ subject }} Journal</h1>

<pre>
{% for entry in entries %}
{{ entry }}
{{ '-' * 120 -}}
{% endfor %}
</pre>

<P>

<form id="Entry" method='POST' action='/#Entry'>
    <textarea rows='24' cols='120' wrap='HARD' name='Entry'></textarea><br>
    <div id="submit">
        <table>
            <tr class="">
                <td class=""><input type='SUBMIT' name='Submit' value='Write Journal Entry'></td>
                <td class=""><input type="radio" name="playback" value="day" {{ checked['day'] }}>Day</td>
                <td class=""><input type="radio" name="playback" value="week" {{ checked['week'] }}>Week</td>
                <td class=""><input type="radio" name="playback" value="month" {{ checked['month'] }}>Month</td>
                <td class=""><input type="radio" name="playback" value="year" {{ checked['year'] }}>Year</td>
                <td class=""><input type="radio" name="playback" value="all" {{ checked['all'] }}>All</td>
            </tr>
        </table>
    </div>
</form>

</body>
</html>
